/* color scheme sourced from http://khroma.co/generator/
:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }
  
  /* set content highlight color and background 
  ::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
  } */


html {
    /* set 1 rem to 10 px */
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    font-size: 1.75rem;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0.625rem;
    color: black;
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

header {
    padding: 2.5rem;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #181818;
    color: #fff;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;

}

li {
    display: inline;
    justify-content: space-between;
    padding: 1rem 2.5rem;

    font-size: 2.5rem;
    font-weight: 700;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #b88725;
    transition: 0.4s;
}
main {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

img {
    margin: 30px;
}

.justify-center{
    justify-items: center;
}

.logo{ 
    height: 98px;
    width: 100px;
    object-fit: cover;
}
.hero{
    height: 700px;
    width: 100%;
    background-image:url(../images/personal-pic.jpg) ;
    background-size:cover;
    background-position-y: 175px ;
}
.about {
    display: flex;
    padding: 15px;
    background-color: antiquewhite;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 15px;
    background-color: antiquewhite;
}

.card{
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: 100%;*/
    padding: 2rem;
}

.contact {
    background-color:bisque ;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 100%;
    padding: 2rem;
}

.contact > *{
    margin: 1rem;
}

.socials{
    display: flex;
    align-items: end;
    justify-content: center;
}

.socials > img {
    border-radius: 100%;
}


/* @media screen and (min-width: 768px) {
     /* on tablets, set columns to only be 50% of the width and not grow */
  /* .card-column { 
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* select the last child to grow to full width if it has space to grow */
  /* .card-column:last-child {
    flex-grow: 1;
  }
} */

/* media query for larger screens */
/* @media screen and (min-width: 992px) {
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
}
   */ 